@import "compass/css3";

.iframe-loader {
    position: absolute;
    left: 47%;
    top: 40%;
    @include animation( iframe-loading 3s infinite );
}

@include keyframes( iframe-loading) {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
